*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}
.header{
	position: relative;
	height: 100vh;
	width: 100%;
	overflow: hidden;
}
.header #bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/header1.jpg);
	background-size: cover;
}
nav{
	display: flex;
	width: auto;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
	height: 10px;  
}
nav img{
	width: 150px;
}
.nav-links{
	flex: 1;
	text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 13px;
}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after{
	width: 100%;
}
.text-box{
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.text-box h1{
	font-size: 62px;
	color: #fff;
}
.text-box p{
	margin: 10px 0 40px;
	font-size: 14px;
	color: #fff;
}
.hero-btn{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.hero-btn:hover{
	border: 1px solid #f44336;
	background: #f44336;
	transition: 1s;
}

nav .fa{
	display: none;
}

@media(max-width: 700px){
	.text-box h1{
		font-size: 20px;
	}
	.nav-links ul li{
		display: block;
	}
	.nav-links{
		position: fixed;
		background: #f44336;
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}
	nav .fa{
		display: block;
		color: #fff;
		margin: 10px;
		font-size: 22px;
		cursor: pointer;
	}
	nav-links ul{
		padding: 30px;
	}
	.row{
		flex-direction: column;
	}
}
 
/*--- slide in scroll ----*/

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 0.5s ease-in;
}
.active.fade-bottom2 {
  animation: fade-bottom 1.25s ease-in;
}
.active.fade-bottom3 {
  animation: fade-bottom 1.7s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.achieve-col{
	flex-basis: 32%;
	border-radius: 10px;
	margin-bottom: 100px;
	position: relative;
	overflow: hidden;
}

/*----- institution -----*/

.first{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
.row{
	display: flex;
	margin-top: 5%;
	justify-content: space-between;
}

.first h1 {
	color: #050000;
}
.first-col{
	flex-basis: 32%;
	border-radius: 10px;
	margin-bottom: 100px;
	position: relative;
	overflow: hidden;
}
.first-col img{
	width: 100%;
	display: block;
}
.layer{
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
}
.layer:hover{
	background: rgba(226,0,0,0.7);
}
.layer h3{
	width: 100%;
	font-weight: 500;
	color: #fff;
	font-size: 26px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	opacity: 0;
	transition: 0.5s;
}
.layer:hover h3{
	bottom: 49%;
	opacity: 1;
	
}
.layer p{
	width: 100%;
	font-weight: 400;
	color: #fff;
	font-size: 15px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	opacity: 0;
	transition: 0.5s;
}
.layer:hover p{
	bottom: 10%;
	opacity: 1;
	
}

/*----- Educational Tech -----*/
 
.second{
	margin: auto;
	text-align: center;
 }
.blue-background{
	background-color: #00204e;
	margin: auto;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}
h1{
	font-size: 36px;
	font-weight: 500;
	color: #fff;
}

p{
	color: #595858;
	font-size: 14px;
	font-weight: 400;
	padding: 10px;
}
.second-row{
	width: 80%;
	margin-top: 5%;
	/* nilagay ko */
	margin-left: 10%;
	display: grid;
	column-gap: 5%;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	justify-content: space-between;
}
.second-col{
	flex-basis: 31%;
	/* border-radius: 10px; */
	background: #fff; 
	margin-bottom: 10%;
	padding: 20px 12px;
	box-sizing: border-box;
	
	box-shadow: 5px 10px;
	border: 1px solid;
	transition: 0.5s;
	
}

.second-col h3{
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}

.second-col:hover{
	box-shadow: 5px 10px #f44336;
}



/*----- Learning envi-----*/
 
.third{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}

.third h1 {
	color: #050000;
}

.third-col{
	flex-basis: 31%;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: left;
	padding: 20px 12px;
	box-sizing: border-box;
}
.third-col img{
	width: 100%;
	border-radius: 10px;
}
.third-col p{
	padding: 0;
}
.third-col h3 {
	margin-top: 16px;
	margin-bottom: 15px;
	text-align: left;
}

 
 /*----- footer-----*/
 
.footer{
	text-align: center;
	padding: 30px;
	border-top: 4px solid #f44336;
}
.footer h4{
	margin-top: 20px;
	font-weight: 600;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link{
	height: 70px;
	width: 70px;
	text-align: center;
	margin: 7px;
	line-height: 80px;
}
a i{
	transition: all 0.3s linear;
}
 
a:hover i{
	transform: scale(1.5);
}
.youtube:hover{
	color: red;
}
.facebook:hover{
	color: blue;
}
.instagram:hover{
	color: #e11d74;
}
.linkedin:hover{
	color: #04009a;
}
.twitter:hover{
	color: #00adb5;
}

/*-----about us page------*/

h3{
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
	color: #f44336;
}

.about-header{
	height: 50vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(images/background.jpg);
	position: center;
	background-size: cover;
	text-align: center;
	color: white;
	background-attachment: fixed;
}
.about-header h1{
	margin-top: 150px;
}
.about-us {
	width: 80%;
	margin: auto;
	padding-top: 80px;
	padding-bottom: 50px;
}
.about-row{
	width: 80%;
	margin-top: 5%;
	margin-left: 10%;
	display: grid;
	column-gap: 5%;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	justify-content: space-between;
}
.about-col{
	flex-basis: 48%;
	padding: 30px 2px;
}
.about-col img{
	width: 100%;
}
.about-col h1{
	color: black;
	padding-top: 0;
}
.about-col p{
	padding: 15px 0 25px;
}

.red-btn{
	border: 1px solid #f44336;
	background: transparent;
	color: #f44336;
}
.red-btn:hover{
	color: #fff;
}


/*-----history------*/


.history-col {
	width: 80%;
	margin: auto;
	margin-top: 100px;
}
.history-col img {
	width: 100%;
}
.history h1 {
	color: black;
	text-align: center;
	margin-bottom: 20px;
}
.history p {
	color: black;
	font-size: 14px;
	font-weight: 500;
	padding: 10px;
	text-align: justify;
	text-justify: inter-word;
}


/*-----gallery page------*/


.gal-header{
	height: 50vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(images/header2.jpg);
	position: center;
	background-size: cover;
	text-align: center;
	color: white;
	background-attachment: fixed;
}

.gal-header h1{
	margin-top: 150px;
}
/*
.container{
	padding: 2rem;
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
.container h1{
	color: black;
}
.container p{
	margin-bottom: 20px;
}
.slider-wrapper{
	position: relative;
	max-width: 48rem;
	margin: 0 auto;
}
.slider{
	display: flex;
	aspect-ratio: 16/9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
	overflow: hidden;
}
.slider img{
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;

}
.slider-nav{
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}
.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}
.slider-nav a:hover{
	opacity: 100%;
} */
.container2 {
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
.container2 img:hover {
	z-index: 1;
	transform: scale(1.25);
}
.container2 h1{
	color: black;
	margin-bottom: 20px;
}
.img-gallery{
	columns: 3 250px;
	gap: 5px;
	
}
.img-gallery img{
	margin-bottom: 10px;
	border-radius: 5px;
	width: 100%;
}


/*-----contact page------*/


.contact-header{
	height: 50vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(images/header3.jpg);
	position: center;
	background-size: cover;
	text-align: center;
	color: white;
	background-attachment: fixed;
}
.contact-header h1{
	margin-top: 150px;
}
.location{
	width: 80%;
	margin: auto;
	padding: 80px 0;
}
.location iframe{
	width: 100%;
}
.contact-us{
	width: 80%;
	margin: auto;
}
.contact-col{
	flex-basis: 48%;
	margin-bottom: 30px;
}
.contact-col div{
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}
.contact-col div .fa{
	font-size: 28px;
	color: #f44336;
	margin: 10px;
	margin-right: 30px;
}
.contact-col div p{
	padding: 0;
}
.contact-col div h5{
	font-size: 20px;
	margin-bottom: 5px;
	color: #555;
	font-weight: 400;
}
.contact-col input, .contact-col textarea{
	width: 100%;
	padding: 15px;
	margin-bottom: 15px;
	outline: none;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

